
body {
}

nav {
  padding: 0.5em;
  margin: 0.5em;
}

.flexOuterCenter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flexOuterStart {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.invis {
  display:none !important;
}

.header_link {
  margin: 0.5em;
  padding: 0.5em;
}

.soup {
  margin: 0.5em;
  padding: 0.5em;
  font-weight: 800;
  font-size: 56px;
}

#areYouLost {
  padding: 0 3.5em;
}

#balloon {
  height: 16px;;
}

p.testP {
  margin: 0 1em;
  padding: 0.5em;
}

input.zeroTest,
input.zeroTestModal {
  margin: 1em;
  padding: 0.25em 0.75em;
  border-radius: 2px;
  border: 1.5px solid cornflowerblue;
  font-size: 16px;
}

.slight {
  opacity: 0.33;
}

h1.h_one {
  font-size: 72px;
  opacity: 0.15;
  margin: 0.25em 0 0 0;
  padding: 0.25em 0 0 0;
}

h1.h_zero {
  font-size: 56px;
  opacity: 0.15;
  margin: 0.25em 0 0 0;
  padding: 0.25em 0 0 0;
}

h2 {
  font-size: 22px;
  opacity: 0.65;
}

h3 {
  font-size: 22px;
  opacity: 0.35;
  color: cornflowerblue;
}

th {
  font-size: 24px !important;
  font-weight: 800 !important;
}

.middle {
  text-align: center;
  margin: 0.25em;
  padding: 0.25em;
}

.supporting_text {
  margin: -1.2em 0 0.25em 0;
  padding: 0 0 0.25em 0;
  font-size: 24px;
  font-family: "Lato";
}

.smaller {
  font-size: 20px;
}

@media only screen and (min-width: 420px ) {
  h2 {
    margin: 0.25em 0 0 45%;
  }
}

a {
  font-size: 16px;
  padding: 0 0.5em;
  margin: 0 0.5em;
}

a:link, a:active, a:hover, a:visited {
  color: cornflowerblue;
  text-decoration: none;
}

.snail_admin,
input[type="submit"] {
  color: white;
  background-color: steelblue;
  padding: 1em;
  margin: 1em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 800;
}

input[type="file"] {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0 0 !important;
  margin: 0 0 !important;
  cursor: pointer;
}

#structure_button {
  text-align:center;
  min-width: 124px;
  padding: 0.75em 1em 1.25em 1em;
}

#structure_button_unset {
  text-align:center;
  max-width: 124px;
  padding: 0.75em 1em 1.25em 1em;
  margin: 0.5em 1em 1.25em 1em;
}

input[type="number"] {
  width: 36px;
}

input.zeroTestModal {
  opacity: 0;
}

.appWrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.appShell {
  display: none;
}

.app_link {
  margin: 0 0.5em 1em 0;
}

.sitemap_item {
  padding: 1em;
  border: 1px solid black;
  border-radius: 3px;
  display: none;
}

.tier_1 {
  display: block;
}

.fas {
  cursor: pointer;
}

.monster_row:hover {
  background-color: lightsteelblue;
  color: white
}

.drop_me {
  font-size: 30px !important;
  font-weight: 600;
  cursor: pointer;
  color: #f1f1f1;
}

.drop_me:hover {
  font-weight: 800;
  cursor: pointer;
  color: red;
}

.monster_row {
  padding: 0 0 !important;
  margin: 0 0 !important;
  line-height: 1 !important;
  max-height: 1em !important;
}

.monster_slug {
  padding: 0 0 0 1em !important;
  margin: 0 0 !important;
  line-height: 1 !important;
  max-height: 1em !important;
}

.monster_key {
  position: relative !important;
}

.monster_field {
  position: absolute;
  left: -3000%;
  top: -5%;
  width: 380px;
}
